.pagina-home {
  overflow-x: hidden;

  .link-cards-geral {
    color: #fff;
    text-decoration: none;
  }

  .primeira {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .intro {
      display: flex;
      flex-direction: row;
    }

    .line {
      margin-top: -190px;
      transform: rotateX(180deg);
      width: 130%;
      margin-left: -10px;
    }

    h1 {
      font-family: ClashDisplay-SemiBold;
      color: #302e52;
      font-size: 75px;
    }

    .prop-tex {
      font: 700 15px Roboto;
    }

    .propaganda {
      display: flex;
      flex-direction: column;
      max-width: 620px;
      margin-left: 130px;

      align-items: left;
      justify-content: center;
    }
  }

  .segunda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;

    h1 {
      color: #302e52;
      font-family: ClashDisplay-SemiBold;
      font-size: 45px;
      margin-bottom: 25px;
    }

    p {
      font-family: Roboto;
      font-weight: 700;
    }

    .into {
      max-width: 700px;
      text-align: center;
      margin-bottom: 80px;
    }

    .cards {
      display: flex;
      flex-direction: row;
      gap: 45px;

      margin-bottom: 30px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 10px;

        color: #e6e4ef;
        background-color: #302e52;
        border-radius: 8px;

        height: 415px;
        width: 400px;

        padding: 50px 30px;
        transition-duration: 0.4s;

        &:hover {
          transform: scale(1.05);
        }

        h3 {
          font-family: ClashDisplay-SemiBold;
          font-size: 25px;
        }

        .icon-laptop {
          background-color: #4c4984;
          color: #e6e4ef;

          padding: 15px;
          width: 70px;
          height: 70px;
          margin-bottom: 20px;

          border-radius: 12px;
        }
      }
    }

    button {
      border-style: none;
      border-radius: 8px;

      background-color: #4c4984;
      color: #fff;
      font-family: ClashDisplay-SemiBold;
      font-size: 18px;

      padding: 15px 80px;
      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        background-color: #6b699d;
        transform: scale(1.05);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }

    .line {
      margin-top: 100px;
    }
  }

  .terceira {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: -200px;
    margin-bottom: 55px;
    h1 {
      color: #302e52;
      font-family: ClashDisplay-SemiBold;
      font-size: 45px;
      margin-bottom: 25px;
    }

    p {
      font-family: Roboto;
      font-weight: 700;
    }

    .into {
      max-width: 700px;
      text-align: center;
      margin-bottom: 80px;
    }

    .cards {
      display: flex;
      flex-direction: row;
      gap: 45px;

      margin-bottom: 30px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 10px;

        color: #e6e4ef;
        background-color: #302e52;
        border-radius: 8px;

        height: 655px;
        width: 600px;

        padding: 50px 30px;
        transition-duration: 0.4s;

        &:hover {
          transform: scale(1.05);
        }

        h3 {
          font-family: ClashDisplay-SemiBold;
          font-size: 25px;
        }

        .icon-laptop {
          background-color: #4c4984;
          color: #e6e4ef;

          padding: 15px;
          width: 70px;
          height: 70px;
          margin-bottom: 20px;

          border-radius: 12px;
        }

        .square {
          width: 100%;
          height: 300px;

          background-color: #57548c;
          border-radius: 8px;
        }

        button {
          border-style: none;
          border-radius: 8px;

          background-color: #4c4984;
          color: #fff;
          font-family: ClashDisplay-SemiBold;
          font-size: 14px;

          padding: 10px 40px;
          margin-top: 30px;
          width: 200px;
          cursor: pointer;
          transition-duration: 0.4s;

          &:hover {
            background-color: #6b699d;
            transform: scale(1.05);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          }
        }
      }
    }
  }
}
