.comp-cabecalho {

  font-family: ClashDisplay-SemiBold;  
  color: #4C4984;
  background-color: #e6e4ef;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 25px 40px;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .cab-link {
    color: #4C4984;
    text-decoration: none;
  }
}