* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E6E4EF;
}

@font-face {
  font-family: ClashDisplay-Bold;
  src: url('../public/assets/fonts/ClashDisplay-Bold.otf');
}
@font-face {
  font-family: ClashDisplay-SemiBold;
  src: url('../public/assets/fonts/ClashDisplay-Semibold.otf');
}
